{% extends '/templates/base.html.twig' %}
{% block load_text %}
    {% include 'templates/pages/eq-fire/_partial/_multigama-tech-loader.html.twig' %}
{% endblock %}
{% block header %}
    {% include 'templates/pages/_partial/_header.html.twig' with {'multiGamaGroupMenu': multiGamaGroupMenu, 'logoUrl': logoUrl} %}
{% endblock %}
{% block body %}
    <!-- Banner  -->
    <div class="dz-bnr-inr style-2 dz-bnr-inr-md overlay-black-middle"
         style="background-image: url('{{ asset('assets/images/picture-1.jpg') }}');">
        <div class="container">
            <div class="dz-bnr-inr-entry">
                <!-- Breadcrumb Row -->
                <nav aria-label="breadcrumb" class="breadcrumb-row">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">{% trans %}Acasa{% endtrans %}</a></li>
                        <li class="breadcrumb-item">{% trans %}Proiecte{% endtrans %}</li>
                    </ul>
                </nav>
                <!-- Breadcrumb Row End -->
            </div>
        </div>
        <div class="shap-bx">
            <div class="bg-shape-left"></div>
            <div class="bg-shape-right"></div>
        </div>
    </div>
    <!-- Banner End -->

{#    <!-- Our Portfolio -->#}
    <section class="content-inner">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h4>{% trans %}Lista Proiecte{% endtrans %}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <table class="table table-bordered table-hover">
                        <thead class="table-dark">
                        <tr>
                            <th>{% trans %}Nume Proiect{% endtrans %}</th>
                            <th>{% trans %}Data Proiectului{% endtrans %}</th>
                            <th>{% trans %}Descriere Proiect{% endtrans %}</th>
                            <th>{% trans %}Tara{% endtrans %}</th>
                            <th>{% trans %}Model Pompe{% endtrans %}</th>
                            <th>{% trans %}Descriere Pompe{% endtrans %}</th>
                            <!-- Add more headers based on the Project entity and relations -->
                        </tr>
                        </thead>
                        <tbody>
                        {% for project in projects %}
                            <tr>
                                <td>{{ project.name }}</td>
                                <td>{{ project.yearStarted }}</td>
                                <td>{{ project.description }}</td>
                                <td>{{ project.country.name }}</td>
                                <td>{{ project.pump.name }}</td>
                                <td>{{ project.pump.description }}</td>
                                <!-- Add more columns based on the Project entity and relations -->
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="3">{% trans %}Nu au fost gasite proiecte.{% endtrans %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </section>

{% endblock %}
