{% extends '/templates/base.html.twig' %}
{% block load_text %}
    {% include 'templates/pages/eq-fire/_partial/_multigama-tech-loader.html.twig' %}
{% endblock %}
{% block header %}
    {% include 'templates/pages/_partial/_header.html.twig' with {'multiGamaGroupMenu': multiGamaGroupMenu} %}
{% endblock %}
{% block body %}
    <!-- Banner  -->
    <div class="dz-bnr-inr style-2 dz-bnr-inr-md overlay-black-middle"
         style="background-image: url('{{ asset('assets/images/bnr1.jpg') }}');">
        <div class="container">
            <div class="dz-bnr-inr-entry">
                <h1>Despre Noi</h1>
                <p></p>
                <!-- Breadcrumb Row -->
                <nav aria-label="breadcrumb" class="breadcrumb-row">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Acasa</a>
                        </li>
                        <li class="breadcrumb-item">Despre Noi</li>
                    </ul>
                </nav>
                <!-- Breadcrumb Row End -->
            </div>
        </div>
        <div class="shap-bx">
            <div class="bg-shape-left"></div>
            <div class="bg-shape-right"></div>
        </div>
    </div>
    <!-- Banner End -->

    <!-- About US -->
    <!-- About US -->
    <section class="content-inner">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-5 m-md-b30 aos-item" data-aos="fade-up" data-aos-duration="800"
                     data-aos-delay="200">
                    <div class="about-media style-2">
                        <img src="{{ asset('assets/images/pic-7.jpg') }}" class="img-cover" alt=""/>
                    </div>
                </div>
                <div class="col-lg-6 col-md-7 m-b30 aos-item" data-aos="fade-up" data-aos-duration="800"
                     data-aos-delay="400">
                    <div class="section-head style-2">
                        <h5 class="sub-title">DESPRE NOI</h5>
                        <h2 class="title">Siguranță de Încredere cu EQ Fire pentru Sisteme de Stingere a
                            Incendiilor</h2>
                    </div>
                    <p>
                        EQ Fire se remarcă ca lider de încredere în furnizarea și întreținerea sistemelor de stingere a
                        incendiilor pentru mediul industrial. Ne angajăm să asigurăm protecția optimă împotriva
                        incendiilor în facilitățile industriale, oferind soluții inovatoare și servicii de cea mai
                        înaltă calitate.

                    </p>
                    <h4>
                        Sisteme Avansate de Stingere a Incendiilor pentru Industrie
                    </h4>
                    <p>
                        Echipa noastră de specialiști este dedicată implementării și întreținerii sistemelor de stingere
                        a incendiilor, adaptate nevoilor specifice ale fiecărui mediu industrial. De la sistemele de
                        sprinklere la cele de inertizare, oferim soluții eficiente și tehnologii avansate pentru a
                        preveni și controla incendiile.

                    </p>
                    <h4>
                        Servicii Profesionale de Întreținere și Reparații

                    </h4>
                    <p>
                        Asigurăm servicii complete de întreținere și reparații periodice pentru a menține
                        funcționalitatea optimă a sistemelor de stingere a incendiilor. Echipa noastră tehnică
                        experimentată și bine pregătită se ocupă de inspecții riguroase, intervenții de reparații și
                        teste pentru a asigura funcționarea corectă a echipamentelor de protecție împotriva incendiilor.

                    </p>
                    <h4>
                        Angajament pentru Siguranță și Fiabilitate
                    </h4>
                    <p>
                        Suntem dedicați să oferim soluții durabile și fiabile pentru protejarea activelor și a
                        persoanelor din mediul industrial. Cu fiecare soluție implementată și serviciu oferit, EQ Fire
                        se angajează să contribuie la siguranța și securitatea continuă a mediului dvs. industrial.
                    </p>
                    <p>
                        Descoperiți partenerul dvs. de încredere pentru sistemele de stingere a incendiilor, întreținere
                        și reparații cu EQ Fire, pentru un mediu industrial sigur și protejat
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- About US -->

    <!-- About US -->


    <!-- Counter -->
    <section class="counter-area-2 bg-light">
        <div class="container">
            <div class="counter-inner bg-secondary spno row"
                 style="background-image: url(images/pattern/pattern1.png); background-size: 100%;">
                <div class="col-xl-3 col-sm-6 aos-item" data-aos="fade-up" data-aos-duration="1000"
                     data-aos-delay="400">
                    <div class="icon-bx-wraper left style-4">
                        <div class="icon-lg">
								<span class="icon-cell text-primary">
									<i class="flaticon-briefing"></i>
								</span>
                        </div>
                        <div class="icon-content">
                            <h2 class="dz-title counter">784</h2>
                            <p>PROIECTE FINALIZATE</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 aos-item" data-aos="fade-up" data-aos-duration="1000"
                     data-aos-delay="600">
                    <div class="icon-bx-wraper left style-4">
                        <div class="icon-lg">
								<span class="icon-cell text-primary">
									<i class="flaticon-smile"></i>
								</span>
                        </div>
                        <div class="icon-content">
                            <h2 class="dz-title counter">200</h2>
                            <p>CLIENTI FERICITI</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 aos-item" data-aos="fade-up" data-aos-duration="1000"
                     data-aos-delay="800">
                    <div class="icon-bx-wraper left style-4">
                        <div class="icon-lg">
								<span class="icon-cell text-primary">
									<i class="flaticon-employee"></i>
								</span>
                        </div>
                        <div class="icon-content">
                            <h2 class="dz-title counter">368</h2>
                            <p>ANGAJATI</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 aos-item" data-aos="fade-up" data-aos-duration="1000"
                     data-aos-delay="1000">
                    <div class="icon-bx-wraper left style-4">
                        <div class="icon-lg">
								<span class="icon-cell text-primary">
									<i class="flaticon-coffee-cup"></i>
								</span>
                        </div>
                        <div class="icon-content">
                            <h2 class="dz-title counter">987</h2>
                            <p>PRODUSE VANDUTE</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- How It Works -->
    {% include 'templates/pages/multigama-group/_partial/_how-it-works.html.twig' %}
    <!-- How It Works -->

    <!-- Clients Logo -->
    <div class="clients-section-1 bg-light">
        <div class="container">
            <div class="swiper-container clients-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="clients-logo aos-item" data-aos="fade-in" data-aos-duration="1000"
                             data-aos-delay="100">
                            <img class="logo-main" src="{{ asset('assets/images/logo-gray1.png') }}" alt="">
                            <img class="logo-hover" src="{{ asset('assets/images/logo-gray1.png') }}" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="clients-logo aos-item" data-aos="fade-in" data-aos-duration="1000"
                             data-aos-delay="200">
                            <img class="logo-main" src="{{ asset('assets/images/logo-gray2.png') }}" alt="">
                            <img class="logo-hover" src="{{ asset('assets/images/logo-brown2.png') }}" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="clients-logo aos-item" data-aos="fade-in" data-aos-duration="1000"
                             data-aos-delay="300">
                            <img class="logo-main" src="{{ asset('assets/images/logo-gray3.png') }}" alt="">
                            <img class="logo-hover" src="{{ asset('assets/images/logo-brown3.png') }}" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="clients-logo aos-item" data-aos="fade-in" data-aos-duration="1000"
                             data-aos-delay="400">
                            <img class="logo-main" src="{{ asset('assets/images/logo-gray4.png') }}" alt="">
                            <img class="logo-hover" src="{{ asset('assets/images/logo-brown4.png') }}" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="clients-logo aos-item" data-aos="fade-in" data-aos-duration="1000"
                             data-aos-delay="500">
                            <img class="logo-main" src="{{ asset('assets/images/logo-gray5.png') }}" alt="">
                            <img class="logo-hover" src="{{ asset('assets/images/logo-brown5.png') }}" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="clients-logo aos-item" data-aos="fade-in" data-aos-duration="1000"
                             data-aos-delay="600">
                            <img class="logo-main" src="{{ asset('assets/images/logo-gray6.png') }}" alt="">
                            <img class="logo-hover" src="{{ asset('assets/images/logo-brown6.png') }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Skills and Contact -->
    {% include 'templates/pages/_partial/_quick-contact.html.twig' %}
    <!-- Skills and Contact -->
{% endblock %}
