{% extends '/templates/base.html.twig' %}
{% block load_text %}
    {% include 'templates/pages/multigama-group/_partial/_multigama-tech-loader.html.twig' %}
{% endblock %}
{% block header %}
    {% include 'templates/pages/_partial/_header.html.twig' with {'multiGamaGroupMenu': multiGamaGroupMenu} %}
{% endblock %}
{% block body %}
	<!-- Slider -->
	{% include 'templates/pages/_partial/_slider.html.twig' %}
	<!-- Slider -->

		<!-- Service Details -->
    <section id="gallery">
        <div class="container pt-7 pb-15">
            <div class="card">
                <div class="card-body">
                    <p class="lead mb-10 text-center px-xl-12">Multigama Tech, in parteneriat cu firma Bauku din Germania si Technoworld din Romania, a proiectat si promovat in piata o gama completa de statii de pompare de canalizare</p>
                    <ul>
                        <li>Statii Umede</li>
                    </ul>
                    <h4 class="mb-3 text-center">Aceasta pagina este inca in constructie</h4>
                    <h2 class="mb-3 text-center">Proiect – Statii pompare - Ciolpani</h2>
                    <div class="grid grid-view">
                        <div class="row gx-md-6 gy-6 isotope">
                            <div class="item col-md-6 col-xl-4">
                                <figure class="overlay rounded">
                                    <a href="{{ asset('assets/images/statii-pompare-1.jpeg') }}" data-glightbox="title: Statii pompare - Ciolpani" data-gallery="g-Statii pompare - Ciolpani">
                                        <img src="{{ asset('assets/images/statii-pompare-1.jpeg') }}" srcset="{{ asset('assets/images/statii-pompare-1.jpeg') }} 2x" alt="" />
                                    </a>
                                    <figcaption>
                                        <h4 class="from-top h6 mb-0">Statii pompare - Ciolpani</h4>
                                    </figcaption>
                                </figure>
                            </div>
                            <!-- /.item -->
                            <div class="item col-md-6 col-xl-4">
                                <figure class="overlay rounded">
                                    <a href="{{ asset('assets/images/statii-pompare-2.jpeg') }}" data-glightbox="title: Statii pompare - Ciolpani" data-gallery="g-Statii pompare - Ciolpani">
                                        <img src="{{ asset('assets/images/statii-pompare-2.jpeg') }}" srcset="{{ asset('assets/images/statii-pompare-2.jpeg') }} 2x" alt="" />
                                    </a>
                                    <figcaption>
                                        <h4 class="from-top h6 mb-0">Statii pompare - Ciolpani</h4>
                                    </figcaption>
                                </figure>
                            </div>
                            <!-- /.item -->
                            <div class="item col-md-6 col-xl-4">
                                <figure class="overlay rounded">
                                    <a href="{{ asset('assets/images/statii-pompare-2.jpeg') }}" data-glightbox="title: Statii pompare - Ciolpani" data-gallery="g-Statii pompare - Ciolpani">
                                        <img src="{{ asset('assets/images/statii-pompare-2.jpeg') }}" srcset="{{ asset('assets/images/statii-pompare-2.jpeg') }} 2x" alt="" />
                                    </a>
                                    <figcaption>
                                        <h4 class="from-top h6 mb-0">Statii pompare - Ciolpani</h4>
                                    </figcaption>
                                </figure>
                            </div>
                            <!-- /.item -->
                            <div class="item col-md-6 col-xl-4">
                                <figure class="overlay rounded">
                                    <a href="{{ asset('assets/images/statii-pompare-3.jpeg') }}" data-glightbox="title: Statii pompare - Ciolpani" data-gallery="g-Statii pompare - Ciolpani">
                                        <img src="{{ asset('assets/images/statii-pompare-3.jpeg') }}" srcset="{{ asset('assets/images/statii-pompare-3.jpeg') }} 2x" alt="" />
                                    </a>
                                    <figcaption>
                                        <h4 class="from-top h6 mb-0">Statii pompare - Ciolpani</h4>
                                    </figcaption>
                                </figure>
                            </div>
                            <!-- /.item -->
                            <div class="item col-md-6 col-xl-4">
                                <figure class="overlay rounded">
                                    <a href="{{ asset('assets/images/statii-pompare-2.jpeg') }}" data-glightbox="title: Statii pompare - Ciolpani" data-gallery="g-Statii pompare - Ciolpani">
                                        <img src="{{ asset('assets/images/statii-pompare-3.jpeg') }}" srcset="{{ asset('assets/images/statii-pompare-3.jpeg') }} 2x" alt="" />
                                    </a>
                                    <figcaption>
                                        <h4 class="from-top h6 mb-0">Statii pompare - Ciolpani</h4>
                                    </figcaption>
                                </figure>
                            </div>
                            <!-- /.item -->
                            <div class="item col-md-6 col-xl-4">
                                <figure class="overlay rounded">
                                    <a href="{{ asset('assets/images/statii-pompare-3.jpeg') }}" data-glightbox="title: Statii pompare - Ciolpani" data-gallery="g-Statii pompare - Ciolpani">
                                        <img src="{{ asset('assets/images/statii-pompare-3.jpeg') }}" srcset="{{ asset('assets/images/statii-pompare-3.jpeg') }} 2x" alt="" />
                                    </a>
                                    <figcaption>
                                        <h4 class="from-top h6 mb-0">Statii pompare - Ciolpani</h4>
                                    </figcaption>
                                </figure>
                            </div>
                            <!-- /.item -->
                            <div class="item col-md-6 col-xl-4">
                                <figure class="overlay rounded">
                                    <a href="{{ asset('assets/images/statii-pompare-3.jpeg') }}" data-glightbox="title: Statii pompare - Ciolpani" data-gallery="g-Statii pompare - Ciolpani">
                                        <img src="{{ asset('assets/images/statii-pompare-3.jpeg') }}" srcset="{{ asset('assets/images/statii-pompare-3.jpeg') }} 2x" alt="" />
                                    </a>
                                    <figcaption>
                                        <h4 class="from-top h6 mb-0">Statii pompare - Ciolpani</h4>
                                    </figcaption>
                                </figure>
                            </div>
                            <!-- /.item -->
                            <div class="item col-md-6 col-xl-4">
                                <figure class="overlay rounded">
                                    <a href="{{ asset('assets/images/statii-pompare-4.jpeg') }}" data-glightbox="title: Statii pompare - Ciolpani" data-gallery="g-Statii pompare - Ciolpani">
                                        <img src="{{ asset('assets/images/statii-pompare-4.jpeg') }}" srcset="{{ asset('assets/images/statii-pompare-4.jpeg') }} 2x" alt="" />
                                    </a>
                                    <figcaption>
                                        <h4 class="from-top h6 mb-0">Statii pompare - Ciolpani</h4>
                                    </figcaption>
                                </figure>
                            </div>
                            <!-- /.item -->
                            <div class="item col-md-6 col-xl-4">
                                <figure class="overlay rounded">
                                    <a href="{{ asset('assets/images/statii-pompare-5.jpeg') }}" data-glightbox="title: Statii pompare - Ciolpani" data-gallery="g-Statii pompare - Ciolpani">
                                        <img src="{{ asset('assets/images/statii-pompare-5.jpeg') }}" srcset="{{ asset('assets/images/statii-pompare-5.jpeg') }} 2x" alt="" />
                                    </a>
                                    <figcaption>
                                        <h4 class="from-top h6 mb-0">Statii pompare - Ciolpani</h4>
                                    </figcaption>
                                </figure>
                            </div>
                            <!-- /.item -->
                            <div class="item col-md-6 col-xl-4">
                                <figure class="overlay rounded">
                                    <a href="{{ asset('assets/images/statii-pompare-6.jpeg') }}" data-glightbox="title: Statii pompare - Ciolpani" data-gallery="g-Statii pompare - Ciolpani">
                                        <img src="{{ asset('assets/images/statii-pompare-6.jpeg') }}" srcset="{{ asset('assets/images/statii-pompare-6.jpeg') }} 2x" alt="" />
                                    </a>
                                    <figcaption>
                                        <h4 class="from-top h6 mb-0">Statii pompare - Ciolpani</h4>
                                    </figcaption>
                                </figure>
                            </div>
                            <!-- /.item -->
                            <div class="item col-md-6 col-xl-4">
                                <figure class="overlay rounded">
                                    <a href="{{ asset('assets/images/statii-pompare-6.jpeg') }}" data-glightbox="title: Statii pompare - Ciolpani" data-gallery="g-Statii pompare - Ciolpani">
                                        <img src="{{ asset('assets/images/statii-pompare-6.jpeg') }}" srcset="{{ asset('assets/images/statii-pompare-6.jpeg') }} 2x" alt="" />
                                    </a>
                                    <figcaption>
                                        <h4 class="from-top h6 mb-0">Statii pompare - Ciolpani</h4>
                                    </figcaption>
                                </figure>
                            </div>
                            <!-- /.item -->
                            <div class="item col-md-6 col-xl-4">
                                <figure class="overlay rounded">
                                    <a href="{{ asset('assets/images/statii-pompare-7.jpeg') }}" data-glightbox="title: Statii pompare - Ciolpani" data-gallery="g-Statii pompare - Ciolpani">
                                        <img src="{{ asset('assets/images/statii-pompare-7.jpeg') }}" srcset="{{ asset('assets/images/statii-pompare-7.jpeg') }} 2x" alt="" />
                                    </a>
                                    <figcaption>
                                        <h4 class="from-top h6 mb-0">Statii pompare - Ciolpani</h4>
                                    </figcaption>
                                </figure>
                            </div>
                            <!-- /.item -->
                            <div class="item col-md-6 col-xl-4">
                                <figure class="overlay rounded">
                                    <a href="{{ asset('assets/images/statii-pompare-8.jpeg') }}" data-glightbox="title: Statii pompare - Ciolpani" data-gallery="g-Statii pompare - Ciolpani">
                                        <img src="{{ asset('assets/images/statii-pompare-8.jpeg') }}" srcset="{{ asset('assets/images/statii-pompare-8.jpeg') }} 2x" alt="" />
                                    </a>
                                    <figcaption>
                                        <h4 class="from-top h6 mb-0">Statii pompare - Ciolpani</h4>
                                    </figcaption>
                                </figure>
                            </div>
                            <!-- /.item -->
                            <div class="item col-md-6 col-xl-4">
                                <figure class="overlay rounded">
                                    <a href="{{ asset('assets/images/statii-pompare-9.jpeg') }}" data-glightbox="title: Statii pompare - Ciolpani" data-gallery="g-Statii pompare - Ciolpani">
                                        <img src="{{ asset('assets/images/statii-pompare-9.jpeg') }}" srcset="{{ asset('assets/images/statii-pompare-9.jpeg') }} 2x" alt="" />
                                    </a>
                                    <figcaption>
                                        <h4 class="from-top h6 mb-0">Statii pompare - Ciolpani</h4>
                                    </figcaption>
                                </figure>
                            </div>
                            <!-- /.item -->
                            <div class="item col-md-6 col-xl-4">
                                <figure class="overlay rounded">
                                    <a href="{{ asset('assets/images/statii-pompare-10.jpeg') }}" data-glightbox="title: Statii pompare - Ciolpani" data-gallery="g-Statii pompare - Ciolpani">
                                        <img src="{{ asset('assets/images/statii-pompare-10.jpeg') }}" srcset="{{ asset('assets/images/statii-pompare-10.jpeg') }} 2x" alt="" />
                                    </a>
                                    <figcaption>
                                        <h4 class="from-top h6 mb-0">Statii pompare - Ciolpani</h4>
                                    </figcaption>
                                </figure>
                            </div>
                            <!-- /.item -->
                            <div class="item col-md-6 col-xl-4">
                                <figure class="overlay rounded">
                                    <a href="{{ asset('assets/images/statii-pompare-11.jpeg') }}" data-glightbox="title: Statii pompare - Ciolpani" data-gallery="g-Statii pompare - Ciolpani">
                                        <img src="{{ asset('assets/images/statii-pompare-11.jpeg') }}" srcset="{{ asset('assets/images/statii-pompare-11.jpeg') }} 2x" alt="" />
                                    </a>
                                    <figcaption>
                                        <h4 class="from-top h6 mb-0">Statii pompare - Ciolpani</h4>
                                    </figcaption>
                                </figure>
                            </div>
                            <!-- /.item -->
                            <div class="item col-md-6 col-xl-4">
                                <figure class="overlay rounded">
                                    <a href="{{ asset('assets/images/statii-pompare-12.jpeg') }}" data-glightbox="title: Statii pompare - Ciolpani" data-gallery="g-Statii pompare - Ciolpani">
                                        <img src="{{ asset('assets/images/statii-pompare-12.jpeg') }}" srcset="{{ asset('assets/images/statii-pompare-12.jpeg') }} 2x" alt="" />
                                    </a>
                                    <figcaption>
                                        <h4 class="from-top h6 mb-0">Statii pompare - Ciolpani</h4>
                                    </figcaption>
                                </figure>
                            </div>
                            <!-- /.item -->
                            <div class="item col-md-6 col-xl-4">
                                <figure class="overlay rounded">
                                    <a href="{{ asset('assets/images/statii-pompare-13.jpeg') }}" data-glightbox="title: Statii pompare - Ciolpani" data-gallery="g-Statii pompare - Ciolpani">
                                        <img src="{{ asset('assets/images/statii-pompare-13.jpeg') }}" srcset="{{ asset('assets/images/statii-pompare-13.jpeg') }} 2x" alt="" />
                                    </a>
                                    <figcaption>
                                        <h4 class="from-top h6 mb-0">Statii pompare - Ciolpani</h4>
                                    </figcaption>
                                </figure>
                            </div>
                            <!-- /.item -->
                            <div class="item col-md-6 col-xl-4">
                                <figure class="overlay rounded">
                                    <a href="{{ asset('assets/images/statii-pompare-14.jpeg') }}" data-glightbox="title: Statii pompare - Ciolpani" data-gallery="g-Statii pompare - Ciolpani">
                                        <img src="{{ asset('assets/images/statii-pompare-14.jpeg') }}" srcset="{{ asset('assets/images/statii-pompare-14.jpeg') }} 2x" alt="" />
                                    </a>
                                    <figcaption>
                                        <h4 class="from-top h6 mb-0">Statii pompare - Ciolpani</h4>
                                    </figcaption>
                                </figure>
                            </div>
                            <!-- /.item -->
                            <div class="item col-md-6 col-xl-4">
                                <figure class="overlay rounded">
                                    <a href="{{ asset('assets/images/statii-pompare-15.jpeg') }}" data-glightbox="title: Statii pompare - Ciolpani" data-gallery="g-Statii pompare - Ciolpani">
                                        <img src="{{ asset('assets/images/statii-pompare-15.jpeg') }}" srcset="{{ asset('assets/images/statii-pompare-15jpeg') }} 2x" alt="" />
                                    </a>
                                    <figcaption>
                                        <h4 class="from-top h6 mb-0">Statii pompare - Ciolpani</h4>
                                    </figcaption>
                                </figure>
                            </div>
                            <!-- /.item -->
                            <div class="item col-md-6 col-xl-4">
                                <figure class="overlay rounded">
                                    <a href="{{ asset('assets/images/statii-pompare-16.jpeg') }}" data-glightbox="title: Statii pompare - Ciolpani" data-gallery="g-Statii pompare - Ciolpani">
                                        <img src="{{ asset('assets/images/statii-pompare-16.jpeg') }}" srcset="{{ asset('assets/images/statii-pompare-16.jpeg') }} 2x" alt="" />
                                    </a>
                                    <figcaption>
                                        <h4 class="from-top h6 mb-0">Statii pompare - Ciolpani</h4>
                                    </figcaption>
                                </figure>
                            </div>
                            <!-- /.item -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <h4>List de Referinte Statii pompare - Ciolpani ( in constructie ) </h4>
                    <p>
                        Aceste produse au toate autorizatiile legale de introducere in piata si deja echipeaza multe comunitati pentru rezolvarea problemelor de transport ale apelor menajere.
                    </p>

                    <!-- /.grid -->
                </div>
                <!--/.card-body -->
            </div>
            <!--/.card -->
        </div>
    </section>
{% endblock %}

