{% extends '/templates/base.html.twig' %}
{% block load_text %}
    {% include 'templates/pages/multigama-group/_partial/_loader.html.twig' %}
{% endblock %}
{% block header %}
    {% include 'templates/pages/_partial/_header.html.twig' with {'multiGamaGroupMenu': multiGamaGroupMenu} %}
{% endblock %}
{% block body %}
    <!-- Banner  -->
    <div class="dz-bnr-inr style-2 dz-bnr-inr-md overlay-black-middle"
         style="background-image: url('{{ asset('images/banner/bnr1.jpg') }}');">
        <div class="container">
            <div class="dz-bnr-inr-entry">
                <h1>Proiecte realizate</h1>
                <p></p>
                <!-- Breadcrumb Row -->
                <nav aria-label="breadcrumb" class="breadcrumb-row">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Acasa</a></li>
                        <li class="breadcrumb-item">Proiecte</li>
                    </ul>
                </nav>
                <!-- Breadcrumb Row End -->
            </div>
        </div>
        <div class="shap-bx">
            <div class="bg-shape-left"></div>
            <div class="bg-shape-right"></div>
        </div>
    </div>
    <!-- Banner End -->

    <!-- Our Portfolio -->
    <section class="content-inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="dz-box overlay style-2 overlay-shine m-b30" data-aos="fade-up" data-aos-duration="800"
                         data-aos-delay="200">
                        <div class="dz-media">
                            <img src="{{ asset('assets/images/8fb41bc8-6bc7-4858-a03c-60a0c3740262.jpg') }}" alt="">
                        </div>
                        <div class="dz-info">
                            <a href="/portfolio-details/p" class="view-btn" title=""></a>
                            <h4 class="title m-b15"><a href="/portfolio-details/p"></a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="dz-box overlay style-2 overlay-shine m-b30" data-aos="fade-up" data-aos-duration="800"
                         data-aos-delay="400">
                        <div class="dz-media">
                            <img src="{{ asset('assets/images/19c84e9a-8ecc-47de-8197-c9197c6857de.jpg') }}" alt="">
                        </div>
                        <div class="dz-info">
                            <a href="/portfolio-details/p" class="view-btn" title=""></a>
                            <h4 class="title m-b15"><a href="/portfolio-details/p"></a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="dz-box overlay style-2 overlay-shine m-b30" data-aos="fade-up" data-aos-duration="800"
                         data-aos-delay="600">
                        <div class="dz-media">
                            <img src="{{ asset('assets/images/19d0fdf3-f984-4f18-b1ce-0cca9be5bb85.jpg') }}" alt="">
                        </div>
                        <div class="dz-info">
                            <a href="/portfolio-details/p" class="view-btn" title=""></a>
                            <h4 class="title m-b15"><a href="/portfolio-details/p"></a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="dz-box overlay style-2 overlay-shine m-b30" data-aos="fade-up" data-aos-duration="800"
                         data-aos-delay="800">
                        <div class="dz-media">
                            <img src="{{ asset('assets/images/33fdc878-864b-436c-bbf3-702c1f3807a9.jpg') }}" alt="">
                        </div>
                        <div class="dz-info">
                            <a href="/portfolio-details/p" class="view-btn" title=""></a>
                            <h4 class="title m-b15"><a href="/portfolio-details/p"></a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="dz-box overlay style-2 overlay-shine m-b30" data-aos="fade-up" data-aos-duration="800"
                         data-aos-delay="1000">
                        <div class="dz-media">
                            <img src="{{ asset('assets/images/36e725f7-7f46-4fc4-9f67-aa3ccc021158.jpg') }}" alt="">
                        </div>
                        <div class="dz-info">
                            <a href="/portfolio-details/p" class="view-btn" title=""></a>
                            <h4 class="title m-b15"><a href="/portfolio-details/p"></a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="dz-box overlay style-2 overlay-shine m-b30" data-aos="fade-up" data-aos-duration="800"
                         data-aos-delay="1200">
                        <div class="dz-media">
                            <img src="{{ asset('assets/images/65a787d8-09de-476b-b1d9-9caf31f05bef.jpg') }}" alt="">
                        </div>
                        <div class="dz-info">
                            <a href="/portfolio-details/p" class="view-btn" title=""></a>
                            <h4 class="title m-b15"><a href="/portfolio-details/p"></a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
