<!DOCTYPE html>

<title>ProjectPump index</title>

{% block body %}
    <h1>ProjectPump index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project_pump in project_pumps %}
            <tr>
                <td>{{ project_pump.id }}</td>
                <td>{{ project_pump.name }}</td>
                <td>{{ project_pump.description }}</td>
                <td>
                    <a href="{{ path('app_project_pump_show', {'id': project_pump.id}) }}">show</a>
                    <a href="{{ path('app_project_pump_edit', {'id': project_pump.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_project_pump_new') }}">Create new</a>
{% endblock %}
