<div class="clients-section-1 bg-light">
    <div class="container">
        <div class="swiper-container clients-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="clients-logo aos-item" data-aos="fade-in" data-aos-duration="1000" data-aos-delay="100">
                        <img class="logo-main" src="{{ asset('assets/images/logo/logo-gray1.png') }}" alt="">
                        <img class="logo-hover" src="{{ asset('assets/images/logo/logo-gray1.png') }}" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="clients-logo aos-item" data-aos="fade-in" data-aos-duration="1000" data-aos-delay="200">
                        <img class="logo-main" src="{{ asset('assets/images/logo/logo-gray2.png') }}" alt="">
                        <img class="logo-hover" src="{{ asset('assets/images/logo/logo-brown2.png') }}" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="clients-logo aos-item" data-aos="fade-in" data-aos-duration="1000" data-aos-delay="300">
                        <img class="logo-main" src="{{ asset('assets/images/logo/logo-gray3.png') }}" alt="">
                        <img class="logo-hover" src="{{ asset('assets/images/logo/logo-brown3.png') }}" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="clients-logo aos-item" data-aos="fade-in" data-aos-duration="1000" data-aos-delay="400">
                        <img class="logo-main" src="{{ asset('assets/images/logo/logo-gray4.png') }}" alt="">
                        <img class="logo-hover" src="{{ asset('assets/images/logo/logo-brown4.png') }}" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="clients-logo aos-item" data-aos="fade-in" data-aos-duration="1000" data-aos-delay="500">
                        <img class="logo-main" src="{{ asset('assets/images/logo/logo-gray5.png') }}" alt="">
                        <img class="logo-hover" src="{{ asset('assets/images/logo/logo-brown5.png') }}" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="clients-logo aos-item" data-aos="fade-in" data-aos-duration="1000" data-aos-delay="600">
                        <img class="logo-main" src="{{ asset('assets/images/logo/logo-gray6.png') }}" alt="">
                        <img class="logo-hover" src="{{ asset('assets/images/logo/logo-brown6.png') }}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
