<section class="content-inner overflow-hidden">
    <div class="container">
        <div class="row align-items-center align-items-stretch">
            <div class="col-lg-6 m-b30" data-aos="fade-right" data-aos-duration="800" data-aos-delay="200">
                <div class="map-iframe-home m-b30 style-1">
                    <iframe
                        src="https://www.google.com/maps/embed/v1/place?q=Strada+Șapte+Drumuri+9c,+București,+Romania&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"
                        allowfullscreen></iframe>
                </div>
{#                <div class="section-head style-2">#}
{#                    <h6 class="sub-title">MULTIGAMA GROUP</h6>#}
{#                    <h2 class="title">{{ quickContactHeader }}</h2>#}
{#                    <p>#}
{#                        {{ quickContactContent }}#}
{#                    </p>#}


{#                </div>#}
{#                <div class="progress-bx style-1 m-b50 m-sm-b30">#}
{#                    <div class="progress-info">#}
{#                        <h4 class="title">Construction</h4>#}
{#                        <h4 class="progress-value">90%</h4>#}
{#                    </div>#}
{#                    <div class="progress">#}
{#                        <div class="progress-bar" style="width: 90%" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="progress-bx style-1 m-b50 m-sm-b30">#}
{#                    <div class="progress-info">#}
{#                        <h4 class="title">Development</h4>#}
{#                        <h4 class="progress-value">70%</h4>#}
{#                    </div>#}
{#                    <div class="progress">#}
{#                        <div class="progress-bar" style="width: 70%" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="progress-bx style-1 m-b50 m-sm-b30">#}
{#                    <div class="progress-info">#}
{#                        <h4 class="title">Building</h4>#}
{#                        <h4 class="progress-value">60%</h4>#}
{#                    </div>#}
{#                    <div class="progress">#}
{#                        <div class="progress-bar" style="width: 60%" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="progress-bx style-1 m-b50">#}
{#                    <div class="progress-info">#}
{#                        <h4 class="title">Designing</h4>#}
{#                        <h4 class="progress-value">80%</h4>#}
{#                    </div>#}
{#                    <div class="progress">#}
{#                        <div class="progress-bar" style="width: 80%" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>#}
{#                    </div>#}
{#                </div>#}
            </div>
            <div class="col-lg-6 m-b30" data-aos="fade-left" data-aos-duration="800" data-aos-delay="400">
                <div class="dz-form style-1 bg-secondary">
                    <div class="section-head style-2 text-white">
                        <h2 class="title">CONTACT</h2>
                    </div>

                    {# Display Flash Messages #}
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    {% endfor %}

                    {{ form_start(form, {'attr': {'class': 'dzForm', 'method': 'GET', 'action': path('static_page', {'pageName': pageName})}}) }}

                    <div class="dzFormMsg"></div>

                    {{ form_row(form._token) }}

                    <div class="row sp10">
                        <div class="col-12 m-b20">
                            <div class="input-group">
                                {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Nume'}}) }}
                            </div>
                        </div>
                        <div class="col-12 m-b20">
                            <div class="input-group">
                                {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'}}) }}
                            </div>
                        </div>
                        <div class="col-12 m-b20">
                            <div class="input-group">
                                {{ form_widget(form.phone, {'attr': {'class': 'form-control', 'placeholder': 'Telefon'}}) }}
                            </div>
                        </div>
                        <div class="col-12 m-b20">
                            <div class="input-group">
                                {{ form_widget(form.message, {'attr': {'class': 'form-control', 'placeholder': 'Mesaj'}}) }}
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">{% trans %}Trimite{% endtrans %}</button>
                        </div>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>

        </div>
    </div>
</section>
