<section class="content-inner-2 portfolio-area1 bg-secondary" style="background-image: url('{{ asset('assets/images/pattern/pattern1.png') }}');">
    <div class="container">
        <div class="section-head style-2 text-white text-center">
            <h5 class="sub-title text-primary">Ce am realizat</h5>
            <h2 class="title">Explorați proiectele noastre</h2>
        </div>
    </div>
    <div class="swiper swiper-portfolio1">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="dz-box overlay style-2 overlay-shine" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                    <div class="dz-media">
                        <img src="{{ asset('/assets/images/565181a1-a068-48e4-ac3c-44a8f6259157.jpg') }}" alt="">
                    </div>
                    <div class="dz-info">
                        <a href="/portfolio-details/p" class="view-btn" title=""></a>
                        <h4 class="title m-b15"><a href="/portfolio-details/p">Revizie pompa</a></h4>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="dz-box overlay style-2 overlay-shine" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
                    <div class="dz-media">
                        <img src="{{ asset('/assets/images/34160337-a918-4ac9-8c2e-250b092cf623.jpg') }}" alt="">
                    </div>
                    <div class="dz-info">
                        <a href="/portfolio-details/p" class="view-btn" title=""></a>
                        <h4 class="title m-b15"><a href="/portfolio-details/p">Reparatie pompa</a></h4>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="dz-box overlay style-2 overlay-shine" data-aos="fade-up" data-aos-duration="800" data-aos-delay="600">
                    <div class="dz-media">
                        <img src="{{ asset('/assets/images/63959631-e2d9-4de6-95cb-255144cc601e.jpg') }}" alt="">
                    </div>
                    <div class="dz-info">
                        <a href="/portfolio-details/p" class="view-btn" title=""></a>
                        <h4 class="title m-b15"><a href="/portfolio-details/p">Verificare instalatie</a></h4>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="dz-box overlay style-2 overlay-shine" data-aos="fade-up" data-aos-duration="800" data-aos-delay="800">
                    <div class="dz-media">
                        <img src="{{ asset('/assets/images/a01db275-0bb3-4752-abda-87cbd955580b.jpg') }}" alt="">
                    </div>
                    <div class="dz-info">
                        <a href="/portfolio-details/p" class="view-btn" title=""></a>
                        <h4 class="title m-b15"><a href="/portfolio-details/p">Verificare pompe</a></h4>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="dz-box overlay style-2 overlay-shine" data-aos="fade-up" data-aos-duration="800" data-aos-delay="1000">
                    <div class="dz-media">
                        <img src="{{ asset('/assets/images/aeed71c2-6ebc-4c7c-af85-3e10da8be66d.jpg') }}" alt="">
                    </div>
                    <div class="dz-info">
                        <a href="/portfolio-details/p" class="view-btn" title=""></a>
                        <h4 class="title m-b15"><a href="/portfolio-details/p">Montaj echipament</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
