{% extends 'base.html.twig' %}

{% block title %}Themes{% endblock %}

{% block body %}
<h1>Available Themes</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Author</th>
        <th>Created At</th>
        <th>Updated At</th>
        <th>Actions</th>
    </tr>
    {% for theme in themes %}
        <tr>
            <td>{{ theme.getTitle() }}</td>
            <td>{{ theme.getDescription() }}</td>
            <td>{{ theme.getAuthor() }}</td>
            <td>{{ theme.getCreatedAt()|date('Y-m-d H:i') }}</td>
            <td>{{ theme.getUpdatedAt()|date('Y-m-d H:i') }}</td>
            <td>
                <a href="{{ path('theme_switch', {themeId: theme.getId()}) }}">Make Active</a>
                <a href="{{ path('theme_install', {themeId: theme.getId()}) }}">Install Assets</a>
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
