<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Title -->
    <title>{% block title %}Welcome!{% endblock %}</title>
    <!-- Title -->

    <!-- Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Mobile Specific -->

    <!-- Meta -->
    <meta name="keywords"
          content="chemical, company, construction, corporate business, energy industry, engineering, factory, industrial, industry, manufacturing, mechanical, mining, oil gas petroleum plant, pharmaceutical, refinery"/>
    <meta name="author" content="DexignZone"/>
    <meta name="robots" content=""/>
    <meta name="description" content="Mazo - Industry & Factory Bootstrap 5 HTML Template + RTL"/>
    <meta property="og:title" content="Mazo - Industry & Factory Bootstrap 5 HTML Template + RTL"/>
    <meta property="og:description" content="Mazo - Industry & Factory Bootstrap 5 HTML Template + RTL"/>
    <meta property="og:image" content="https://mazo.dexignzone.com/xhtml/social-image.png"/>
    <meta name="format-detection" content="telephone=no">
    <!-- Meta -->

    <!-- Favicon icon -->
{#    <link rel="icon" type="image/png" href="images/favicon.png">#}
    <!-- Favicon icon -->


    <!-- Stylesheet -->
    <link href="{{ asset('assets/vendor/magnific-popup/magnific-popup.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendor/perfect-scrollbar/css/perfect-scrollbar.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendor/lightgallery/css/lightgallery.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendor/aos/aos.css') }}" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <link rel="stylesheet" class="skin" href="{{ asset('assets/css/skin/skin-4.css') }}">

{#    {% block stylesheets %}#}
{#        {{ encore_entry_link_tags('app_js') }}#}
{#    {% endblock %}#}

{#    {% block javascripts %}#}
{#        {{ encore_entry_script_tags('app_css') }}#}
{#    {% endblock %}#}
    <!-- JAVASCRIPT FILES ========================================= -->
    <script src="{{ asset('assets/javascript/jquery.min.js') }}"></script><!-- JQUERY.MIN JS -->
    <script src="{{ asset('assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script><!-- BOOTSTRAP.MIN JS -->
    <script src="{{ asset('assets/vendor/magnific-popup/magnific-popup.js') }}"></script><!-- MAGNIFIC POPUP JS -->
    <script src="{{ asset('assets/vendor/counter/waypoints-min.js') }}"></script><!-- WAYPOINTS JS -->
    <script src="{{ asset('assets/vendor/counter/counterup.min.js') }}"></script><!-- COUNTERUP JS -->
    <script src="{{ asset('assets/vendor/masonry/isotope.pkgd.min.js') }}"></script><!-- ISOTOPE -->
    <script src="{{ asset('assets/vendor/imagesloaded/imagesloaded.js') }}"></script><!-- IMAGESLOADED -->
    <script src="{{ asset('assets/vendor/masonry/masonry-4.2.2.js') }}"></script><!-- MASONRY -->
    <script src="{{ asset('assets/vendor/lightgallery/js/lightgallery-all.min.js') }}"></script><!-- LIGHTGALLERY -->
    <script src="{{ asset('assets/vendor/swiper/swiper-bundle.min.js') }}"></script><!-- OWL-CAROUSEL -->
    <script src="{{ asset('assets/vendor/perfect-scrollbar/js/perfect-scrollbar.min.js') }}"></script><!-- Perfect Scrollbar -->
    <script src="{{ asset('assets/vendor/aos/aos.js') }}"></script><!-- AOS -->
    <script src="{{ asset('assets/javascript/dz.carousel.js') }}"></script><!-- OWL-CAROUSEL -->
    <script src="{{ asset('assets/javascript/dz.ajax.js') }}"></script><!-- AJAX -->
    <script src="{{ asset('assets/javascript/custom.js') }}"></script><!-- CUSTOM JS -->

</head>
<body id="bg" class="theme-rounded">
<div id="loading-area">
    <div class="loading-inner style-1">
        <div class="wrapper">
            {% block loading_wrapper %}{% endblock %}
        </div>
        <div class="load-text">
            {% block load_text %}{% endblock %}
        </div>
    </div>
</div>
<div class="page-wraper">
    <div class="page-content bg-white">
        {% block body %}{% endblock %}
    </div>
    {% include 'templates/pages/_partial/_footer.html.twig' %}
    <button class="scroltop icon-up" type="button"><i class="fas fa-arrow-up"></i></button>
</div>
</body>
</html>
